@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* body {
  background-color: #f8fafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
} */
.check{
  color: greenyellow;
  width:100%;
  text-align: center;
}


.form {
  width: 75%;
  
  border-radius:10px;
  display: flex;
  background: #fff;
}


.form__right {
  
    text-align:center ;
  padding: 10px;
  font-family: "Lexend Deca";
  color: #064b8d;
}

.form__right span {
  display: block;
}

.form__right__steps {
  color: #064b8d75;
  margin-bottom: 12px;
}

.form__right__title {
  margin-bottom: 10px;
}

.form__right__info {
  font-size: 17px;
  margin-bottom: 20px;
}

.form__right__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__right__check input[type="radio"] {
  display: none;
}

.form__right__check--creditCard {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fcfdfc;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #dfe5ec;
  position: relative;
}

.form__right__check--creditCard::after {
  content: "";
  border: 3px solid #dfe5ec;
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 50%;
}

.form__right__check--creditCard__icon {
  width: 46px;
}

.form__right__check--creditCard, .form__right__check--payPal {
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.form__right__check--payPal {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fcfdfc;
  border: 1px solid #dfe5ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  position: relative;
}

.form__right__check--payPal::after {
  content: "";
  border: 3px solid #dfe5ec;
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 50%;
}

.form__right__check--payPal__icon {
  width: 136px;
}

.form__right__form-control {
  margin-top: 10px;
}

.form__right__form-control--name {
  display: block;
  margin-bottom: 5px;
}

.form__right__form-control--cardNumber {
  height: 45px;
  width: 100%;
  background: #fffffc;
  border: none;
  font-size: 18px;
  padding: 0 10px 0 10px;
  border: 1px solid #dfe5ec;
  border-radius: 2px;
  color: #949393;
}

.form__right__form-control--cardNumber:focus {
  outline: none;
  border-color: blue;
}

.form__right__form-control--button {
  width: 60%;
  margin-top: 10px;
  padding: 15px 10px;
  border: none;
  background: #064b8d;
  color: #fff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.form__right__form-control--button:hover {
  background: #0c3a65;
}

#option1:checked ~ .form__right__check--creditCard {
  border-color: blue;
}

#option1:checked ~ .form__right__check--creditCard::after {
  border-color: green;
  outline: 2px solid green;
  outline-offset: -10px;
  outline-style: dotted;
}

#option2:checked ~ .form__right__check--payPal {
  border-color: blue;
}

#option2:checked ~ .form__right__check--payPal::after {
  border-color: green;
  outline: 2px solid green;
  outline-offset: -10px;
  outline-style: dotted;
}

.form__right__expireDate {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__right__expireDate--month {
  height: 45px;
  background: #fffffc;
  border: none;
  font-size: 18px;
  padding: 0 10px 0 10px;
  border: 1px solid #dfe5ec;
  border-radius: 2px;
  color: #949393;
  width: 48%;
}

.form__right__expireDate--month:focus {
  outline: none;
  border-color: blue;
}

.form__right__expireDate--year {
  width: 48%;
  height: 45px;
  background: #fffffc;
  border: none;
  font-size: 18px;
  padding: 0 10px 0 10px;
  border: 1px solid #dfe5ec;
  border-radius: 2px;
  color: #949393;
}

.form__right__expireDate--year:focus {
  outline: none;
  border-color: blue;
}

.form__right__expireDate__left {
  margin-left: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__right__expireDate__left--cvc {
  height: 45px;
  width: 100%;
  background: #fffffc;
  border: none;
  font-size: 18px;
  padding: 0 10px 0 10px;
  border: 1px solid #dfe5ec;
  border-radius: 2px;
  color: #949393;
}

.form__right__expireDate__left--cvc:focus {
  outline: none;
  border-color: blue;
}

.expireDateForm {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
/*# sourceMappingURL=main.css.map */