.header2{
    padding: .5%;
    text-align: right;
    padding-right:2% ;
}

.header nav {
    background-color: rgb(10, 10, 10);
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 15px;
}
.header nav a:hover{
    color: brown;
   
    
}
.header nav a:focus{
    color: brown;
    
}
.item{
    background-color: black;
}
.text-white{
    color: white;
}
span{
    color: brown;
}
.drop{
    background-color: black;
}
